@import "tailwindcss";

/* ============================
   1. Custom Fonts
   ============================ */
@font-face {
  font-family: "VCR OSD Mono";
  src: url("../assets/fonts/VCR OSD Mono.ttf");
}
@font-face {
  font-family: "PixelCode";
  src: url("../assets/fonts/PixelCode.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "PixelCode";
  src: url("../assets/fonts/PixelCode-Bold.ttf");
  font-weight: 700;
}

/* ============================
   2. Base Styles
   ============================ */
@layer base {
  html {
    font-family: var(--font-family-pixel);
    color: var(--color-white);
  }

  html,
  body {
    height: 100%;
    background-color: var(--color-bg-primary);
    overflow: hidden;
  }

  #app {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  input,
  button,
  select,
  textarea {
    font-family: inherit;
    outline: none;
  }

  button {
    cursor: pointer;
  }
}

@theme {
  --font-family-pixel: "PixelCode", monospace;
  --color-white: #fff;
  --color-bg-primary: #111;
  --color-accent: #0066ffff;
  --color-accent-dim: #0066ffff;
}

@layer utilities {
  /* Opacity Utilities */
  .bg-black\/80 {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .bg-black\/50 {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@layer components {
  .active-tab {
    @apply bg-accent text-black font-bold border-r border-accent hover:brightness-110;
  }

  .game-mode-tab {
    /* @apply hover:bg-blue; */
  }

  /* ============================
   5. Component Styles
   ============================ */

  .screen {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: opacity 0.2s ease;
    z-index: 0;
    background: black;
  }

  .screen.active {
    visibility: visible;
    opacity: 1;
    z-index: 10;
    display: flex;
  }

  /* Scrollbar styling for the retro lists */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #111;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-accent-dim);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent);
  }
}

/* Animation Utils */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.animate-blink {
  animation: blink 1s step-end infinite;
}

@keyframes modalSlideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-modalSlideIn {
  animation: modalSlideIn 0.3s ease-out forwards;
}
