@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* ============================
   1. Custom Fonts
   ============================ */
@font-face {
  font-family: "VCR OSD Mono";
  src: url("../assets/fonts/VCR OSD Mono.ttf");
}
@font-face {
  font-family: "PixelCode";
  src: url("../assets/fonts/PixelCode.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "PixelCode";
  src: url("../assets/fonts/PixelCode-Bold.ttf");
  font-weight: 700;
}

/* ============================
   2. Base Styles
   ============================ */
@layer base {
  html {
    font-family: "PixelCode", monospace;
    color: #ffffff;
    font-size: 24px;
  }

  /* html,
  body {
    height: 100%;
    background-color: transparent;
    overflow: hidden;
  } */

  /* #app {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  } */

  /*
  input,
  button,
  select,
  textarea {
    font-family: inherit;
    outline: none;
  }

  button {
    cursor: pointer;
  } */
}

@layer components {
  /* Legacy Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #111;
  }
  ::-webkit-scrollbar-thumb {
    background: #185574;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #29b6f6;
  }
}
